
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    margin-top: 20%;
    font-family: sans-serif;
  }

  .container{
    padding-top: 8%;
    height: 650px;
    width: 220px;
    background-color: rgb(36, 35, 35);
    border-radius: 95%;
  }
  
  #semaforo {
    height: 550px;
    width: 200px;
    float: left;
    background-color: #333;
    border-radius: 40px;
    margin: 30px;
    padding: 20px;
    
  }
  
 .circulo {
  
    height: 150px;
    width: 150px;
    background-color: #111;
    border-radius: 50%;
    margin: 25px auto;
    transition: background 500ms;
  }

 .rojo{
    background-color: red;
  }

 .amarillo{
    background-color: yellow;
  }

 .verde{
    background-color: green;
  }